<form (submit)="updejtujLava()">
  <div class="col-md-12">
      <div class="form-group">
          <label>Ime</label>
          <input name="ime" [(ngModel)]="editovaniLav.ime" class="form-control" />
      </div>
      <div class="form-group">
          <label>Kilaza</label>
          <input name="kilaza" type="number" [(ngModel)]="editovaniLav.kilaza" class="form-control" />
      </div>
      <div class="form-group">
        <label>Datum Rodjenja</label>
        <input name="datumRodjenja" type="date" [(ngModel)]="editovaniLav.datumRodjenja" class="form-control" />
      </div>
  </div>
  
  <button class="btn btn-primary" type="submit">Sacuvaj</button>
</form>