<div class="form-group">
  <label>Search:</label>
  <input class="form-control" [(ngModel)]="searchString" />
</div>
<table style="width: 100%;table-layout: fixed;">
  <tr>
    <th *ngFor="let column of conf">{{column.label}}</th>
    <th></th>
  </tr>
  <tr>
    <td *ngFor="let column of conf"><input /></td>
  </tr>
  <tr *ngFor="let lav of model.lavovi | filterPoStringu:searchString">
    <tr *ngFor="let lav of model.lavovi | filterPoStringu:searchString">
      <td *ngFor="let column of conf">{{lav[column.key]}}</td>
      <td><button class="btn btn-danger" (click)="obrisiLava(lav.id)">Delete</button></td>
      <td><button class="btn btn-primary" (click)="editujLava(lav.id)">Edit</button></td>
    </tr>
</table>