<form (submit)="dodajLava()">
    <div class="col-md-12">
        <div class="form-group">
            <label>Ime</label>
            <input name="ime" [(ngModel)]="noviLav.ime" class="form-control" />
        </div>
        <div class="form-group">
            <label>Kilaza</label>
            <input name="kilaza" type="number" [(ngModel)]="noviLav.kilaza" class="form-control" />
        </div>
        <div class="form-group">
            <label>Datum Rodjenja</label>
            <input name="datumRodjenja" type="date" [(ngModel)]="noviLav.datumRodjenja" class="form-control" />
        </div>
    </div>
    
    <button class="btn btn-primary" type="submit">Dodaj</button>
</form>